<div class="columns is-centered" *ngFor="let part of Part_">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src={{part.img_}} alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>

                        <strong> {{ part.name }} </strong>
                        <br>
                        {{part.description}}
                    </p>
                    <br>
                    <strong>{{part.price}} </strong>
                    <button class="button is-warning">
                        Add To Cart
                    </button>
                </div>
            </div>
        </article>
    </div>
    <br>
</div>