<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  </style>
<section class="hero is-fullheight has-background-black">
        <div class="hero-body">
            <div class ="container">
                <figure class="image center">
            <img src="https://pluspng.com/img-png/png-logo-design-fancy-png-logo-design-91-on-professional-logo-design-with-png-logo-design-734.png" style="max-width: 512px;">
      </figure>
    </div>
  </div>
</section>